.popContainer-marker {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popContent-marker {  
    position: absolute;  
    left: 30%;  
    right: 30%;  
    top: 40%;  
    bottom: 40%;  
    border-radius: 15px;  
    background: white;
  }

  .buttonContainer-marker {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
  }

  .buttonContainer-marker button {
    font-size: 12px;
    margin: 5px;
    padding: 8px 12px;
    color: black;
    background-color: rgb(226, 216, 216);
    box-shadow: 0px 3px 5px 0px #888;
    border: none;
    text-decoration: none;
    border-radius: 3px;
  }

  .form-marker {
      text-align: center;
      vertical-align: center;
      display: flex;
  }

  .form-marker input {
      flex-grow: 1;
      margin: 30px;
      margin-top: 12px;
      border-radius: 5px;
      padding: 10px;
      border: 2px solid lightblue;
  }

  .title-marker {
      margin: 10px 15px 5px 30px;

  }
