

.imgCaption p {

    position: absolute;
    margin: 2px;
    color: white;
    text-align: center;
    vertical-align: center;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.imgCaption {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.7);
    position:absolute; 
    opacity:0; 
}

.wrapper:hover .imgCaption{
    opacity:1;
}

